extends layout

block content
  .one-column#app
    #contact-info
      h2 CONTACT ME
      p At this moment I am looking for a job that allows me flexibility of hours at maximum six hours a day.<br><br>Do you have something for me?
    #contact-form
      form.column(v-on:submit.prevent="sendMail")
        .row
          input(type="text" placeholder="Name of person or company" required v-model="contact.name")
          input(type="email" placeholder="Email" required v-model="contact.email")
          input(type="text" placeholder="Subject" required v-model="contact.subject")
        .row
          textarea(rows=5 required placeholder="Tell me what it is ..." v-model="contact.message")
        .row
          input(type="submit" value="Send" :disabled="contact.loading" v-model="contact.sendMessage")
        .row#mail-result(v-bind:class="{visible: contact.result}")
          p {{ contact.result }}
    #links
      a(href="https://www.facebook.com/manuel.valdez.902") Facebook
      a(href="https://github.com/valdezmanuel") Github
      a(href="mailto: valdezzmanuel88@gmail.com") Mail
      a(href="tel: 6641807946") Whatsapp
  script( src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src="https://unpkg.com/vue-lazyload/vue-lazyload.js")
  script( src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1")

  script(src="/javascripts/projects.js")
