extends layout

block content
  .two-columns
    .img-container
      img(src="/images/profile_pic.jpg")
    .column-container
      .typewriter
        h1 HELLO WORLD!
      br
      br
      br
      p.white My name is Manuel Valdez, I’m systems engineer and freelancer.
      br
      p I am 22 years old, I actually live in Tijuana, BC, Mexico.
      br
      p I consider myself passionate about technology and programming, I love creating new ideas and working on them until I am happy with the results. 
      br
      p Since I was little I had the interest to learn about technologies and understand their functioning and I have spent most of my free time learning and working on projects that I think are worthwhile helping in some way to the development of some field.
      .img-container-sign
        img(src="/images/firma.png")
    
