doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" href="/images/icon.png")

    title= "Manuel Valdez"
    link(rel='stylesheet', href='/stylesheets/home.css')
  body
    main
      header
        nav
          if section == "Resume"
            a(href="/resume") 
              img(src='/images/user_icon.svg'
              class='selected')
          else 
            a(href="/resume") 
              img(src='/images/user_icon.svg' )
          if section == "Portfolio"
            a(href="/portfolio") 
              img(src='/images/portfolio_icon.svg'
              class="selected")
          else
            a(href="/portfolio") 
              img(src='/images/portfolio_icon.svg' )
          if section == "Contact"
            a(href="/contact") 
              img(src='/images/contact_icon.svg'
              class="selected")
          else
            a(href="/contact") 
              img(src='/images/contact_icon.svg' )
          if section != "Main"
            a#img-container-nav(href="/")
              img(src="/images/profile_pic.jpg")
            
          
      block content
