extends layout

block content
  #app
    .two-columns#projects-container
      #portfolio-info
        h2 PORTFOLIO
        p This list contains some of the projects that I consider most interesting that I have made throughout my career as a developer, including personal and team projects, each of which was done with many hours of work.  
      #projects
        .item-project(v-for="item in projects" v-on:click="_open_dialog(item)")
          img(v-lazy="item.background")
          .front-description
            .working(v-if="item.working")
              span
              p cooking
            img(v-lazy="item.icon")
            p.white {{item.title}}
            p.gray  {{item.labels}}
    .dialog-container(v-bind:class="{active: dialogStatus}")
      .dialog
        .header
          img#close(src="/images/cancel.png" v-on:click="closeDialog")
          img(:src="dialog.background")
          .working(v-if="dialog.working")
            span
            p cooking
          .front-information
            img(:src="dialog.icon")
            h2 {{dialog.title}}
            p {{dialog.labels}}
        .body-description
          p {{dialog.description}}
        .links
          a(v-for="link in dialog.links" :href="link.url") {{link.name}}
            
        
  script( src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src="https://unpkg.com/vue-lazyload/vue-lazyload.js")
  script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1")
  script(src="/javascripts/projects.js")
        
      
