extends layout

block content
  .vertical-content
    .three-columns        
      #education
        h2 EDUCATION
        ul
          li 
            p.bold.white 2012 - 2014
            p.white High School: Cecyte Florido
            p.gray Software programming
          li 
            p.bold.white 2014 - 2018
            p.white University: ITT
            p.gray Software Enginnering
      #experience
        h2 EXPERIENCE
        ul
          li 
            p.bold.white Web and Movil developer
            p.white Cinemaweb | Plyt - Tijuana, B.C.
            p.gray 2017 february - 2018
          li 
            p.bold.white DevOp and developer
            p.white Proindemex, S. de R.L de C.V.
            p.gray 2017 august - 2017 november
          li 
            p.bold.white Web and Desktop developer
            p.white Systems Communications.
            p.gray 2017 december - 2018 june
          li 
            p.bold.white Web developer
            p.white MayaDevelop.
            p.gray 2016 june - 2018 august
      #awards
        h2 AWARDS
        ul
          li 
            p.bold.white 2nd Place at Hackaton Talent Land - IBM SMART-CITIES
            p.white Guadalajara, Jalisco.
            p.gray 2018 april
            a(href="http://tectijuana.edu.mx/alumnos-del-itt-triunfan-en-talent-land-guadalajara-2018/ ") -> entry
          li
            p.bold.white Semifinalist at Re-diseña Frontera.
            p.white Tijuana, BC.
            p.gray 2018 may
              
    #skills
      h2 SKILLS
      p Web - Mobile - Desktop - Design - Photoshop - Illustrator - After Effects - UI/UX - Java - C# - Javascript - VueJs - JQuery - React - HTML/Css - NodeJs - PHP - Android - React-Native - SQL Server - MySql - MongoDB - Server Management - Nginx - Apache - Google Cloud - IBM Cloud - English (7/10) - Español (9/10) - 💪 Do excercise - 📺 Watch TV Shows - 🐈 Play with my cats.
      
