
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono';
}

body {
  background: #333;
  animation: fade 1s;
}


main {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

header {
  width: calc(100% - 100px);
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  margin: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

nav a {
  text-decoration: none;
  display: block;
  width: 20px;
  height: auto;
  margin-right: 40px;
}

#img-container-nav {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  right: 0;
  margin: auto;
}

#img-container-nav img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: none;
  object-fit: cover;
}

#img-container-nav img:hover {
  -webkit-filter: brightness(0.8);
  -o-filter: brightness(0.8);
  filter: brightness(0.8);
}


nav a img {
  width: 100%;
  height: 100%;
  filter: grayscale() brightness(0.59);
}

nav a:hover > img {
  filter: none;
}

#awards a {
  font-size: 0.8em;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

#awards a:hover {
  border-bottom: 1px solid #666;
}

.two-columns {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-column {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.selected {
  filter: none;
}

.typewriter {
  width: 210px;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  animation:
    typing 1.5s steps(12, end),
    blink-caret 0.7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ebebeb; }
}

h1 {
  color: #FFF;
  font-weight: bold;
  font-size: 1.8em;
  float: left;
}

p {
  color: #adadad;
  font-size: 0.9em;
  font-weight: lighter;
  white-space: pre-line;
}

.column-container {
  margin-left: 40px;
  padding: 30px;
  width: 40%;
  box-sizing: border-box;
  border-left: 1px;
  border-left-style: solid;
  border-color: #66C6F6;
}

.img-container-sign {
  margin-top: 40px;
  margin-left: 20px;
  width: 120px;
  height: auto;
}

.img-container-sign img {
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.column-container h1 {
  margin-bottom: 20px;
}


/*about me*/

.vertical-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.three-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.three-columns > div {
  width: 33.3%;
  padding: 30px;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.white {
  color: #fff !important;
}

.gray {
  color: #adadad !important;
}

h2 {
  font-weight: bold;
  font-size: 1.4;
  color: #fff;
  margin-bottom: 15px;
}

.three-columns p {
  color: #929292;
}


ul {
  list-style: none;
}

ul li {
  margin-top: 15px;
}

#app {
  width: 100%;
  height: 100%;
}

#projects-container {
  justify-content: space-around;
}

#skills {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#portfolio-info {
  width: 30%;
}


#projects {
  width: 50%;
  margin-top: 70px;
  height: calc(100vh - 200px);
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: start;
  overflow-y: auto;
  padding-bottom: 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

/*#projects::after {
  content: "";
   position: fixed;
   width: 100%;
   height: calc(100vh - 200px);
   background: linear-gradient(#333333,
     transparent,
     #333333);
     overflow: visible;
   z-index: 0;
}*/

.item-project {
  width: calc(50% - 30px);
  height: 30%;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background: #363636;
  position: relative;
  display: flex;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  cursor: pointer;
}

.item-project > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  filter: brightness(0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.front-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
}
.front-description img {
  width: 40px;
  height: auto;
  margin-bottom: 5px;
}

.front-description > p {
  opacity: 0;
  color: #fff;
  font-size: 0.7em;
  text-align: center;
  max-height: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item-project:hover {
  box-shadow: -3px 3px 10px 1px rgb(39, 39, 39, 0.5);
}

.item-project:hover > .front-description  p {
  opacity: 1;
  max-height: 80px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item-project:hover > img[lazy="loaded"] {
  opacity: 0 !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s !important;
}

.working {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}

.working span {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: blink 0.7s infinite;
}

.working p{
  font-size: 0.7em !important;
}

@keyframes blink {
  0% { background-color: transparent;}
  100% {background-color: #66C6F6;}
}

.working p {
  margin-left: 10px;
  opacity: 0;
}

.dialog-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.dialog-container.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: rgb(51, 51, 51,0.8);
}

.dialog {
  width: 60%;
  height: auto;
  max-height: 80%;
  background: #333;
  box-shadow: -3px 3px 10px 1px rgb(39, 39, 39, 0.5);
  position: relative;
}

.dialog .header {
  width: 100%;
  height: auto;
  position: relative;
}

.dialog .header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  filter: brightness(0.5);
}

.front-information {
  word-spacing: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.front-information img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.body-description {
  width: 80%;
  max-height: 400px;
  height: auto;
  padding: 40px;
  box-sizing: border-box;
  margin: auto;
  overflow-y: auto;
}

#close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px !important;
  right: 20px !important;
  left: auto;
  z-index: 5;
  cursor: pointer;
  filter: none;
}

.links {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.links a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
}

.links a:hover {
  box-shadow: 0 1px 0px 0px #fff;
}

#contact-info {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}

#contact-form {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

#contact-form input,#contact-form textarea {
  padding: 15px 10px 15px 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: #666666;
  color: #fff;
  margin-right: 5px;
  font-size: 0.8em;
}

#contact-form input::placeholder,#contact-form textarea::placeholder {
  color: #cbcbcb;
}

#contact-form input {
  width: calc(33.3% - 5px) ;
}

#contact-form form .row {
  width: 100%;
}

#contact-form textarea {
  margin-left: auto;
  width: calc(100% - 5px);
  margin-top: 5px;
  margin-bottom: 1px;
}

#contact-form form input[type="submit"] {
  cursor: pointer;
}

#mail-result {
  margin-top: 10px;
}

#mail-result.visible {
  animation: 5 fade 0.2s, fadeOut 0.2s 4.8s;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
#links {
  margin-top: 20px;
}
#links a {
  font-size: 0.8em;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
}

#links a:hover {
  border-bottom: 1px solid #666;
}


@media (max-width: 500px) {

  main {
    padding: 10px;
  }

  header {
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: 60px;
    padding: 30px;
    box-sizing: border-box;
  }

  #img-container-nav {
    right: 0;
    margin: auto;
    left: unset;
  }

  .two-columns {
    flex-direction: column;
    height: auto;
    padding-top: 100px;
  }

  .column-container {
    width: 100%;
    margin-left: 0px;
    padding: 20px;
    margin-top: 20px;
    border: none;
  }

  /*about-me*/
  .vertical-content {
    height: auto;
    padding-top: 100px;
  }

  .three-columns {
    flex-direction: column;
  }

  .three-columns > div {
    width: 100%;
    padding: 20px;
  }

  #portfolio-info {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  #projects {
    width: 100%;
    margin-left: 0px;
    overflow-y: hidden;
    margin-top: 0px;
    height: auto;
  }

  #projects::after{
    content: none;
  }

  .item-project {
    width: 100%;
    height: 150px;
  }

  .dialog-container {
    position: fixed;
  }

  .dialog {
    width: 90%;
    max-height: 90%;
  }

  .body-description {
    padding: 0;
    max-height: 30vh;
    margin-top: 15px;
  }

  .front-description  p{
    max-height: none;
    opacity: 1;
  }

  .item-project > img {
    -webkit-filter: brightness(0.3);
    -o-filter: brightness(0.3);
    filter: brightness(0.3);
  }

    .front-information img {
      width: 70px;
      height: 70px;
  }

  #contact-info {
    width: 100%;
  }

  #contact-form {
    width: 100%;
  }

  .one-column {
    padding-top: 100px;
    height: auto;
  }

  #app {
    height: auto;
  }

  #contact-form input {
    width: 100%;
    margin-right: 0;
  }

  #contact-form textarea {
    width: 100%;
  }

  #links {
    margin-bottom: 20px;
  }
}
